@charset "UTF-8";




/*-----------------------------------------------------------------------------------------------------------------

									---			TABS		---

-----------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1024px){

/*LANDING PAGE*/
.ul.tab li a{ width:125px;}
.tabimages{ width:250px; height:169px;}

.tit_blk { width: 610px;}
.shw_blk .span3 { /*margin: 0 1.5% 0 1.5%;*/ }

.blackscreen{ bottom:0 !important;}
.preloaderCont { left:47% !important;}
/*.shw_blk h3 { font-size: 26px;
	margin:10px 1.5% 10px 1.5%;
	padding-left:10px;
	position: absolute;
    z-index: 9999;
    bottom: -10px;
		background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,1),rgba(0,0,0,0.6), rgba(0,0,0,0));
    background-image: linear-gradient(bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.6), rgba(0,0,0,0));
	    width: 100%;
    text-align: left;
    line-height: 42px;
    left: 0px;
	}

	}*/
	

/*-----------------------------------------------------------------------------------------------------------------

							---			SMART PHONES BIG SCREEN		---

-----------------------------------------------------------------------------------------------------------------*/

/*@media screen and (min-width:480px) and (max-width:767px){

.signinbtn{  background-color:transparent;  border: transparent; text-align:right; color: #fff;}

.nav {  margin: 20px 0 0 18px; width: 35px;}
.tit_blk {width: 353px;}
.shw_blk .span3 { }
.tit_blk h3 { font-size:20px;}
.srh { width: 31px;}
.shw_blk h3 { font-size: 24px;
	margin:10px 1.5% 10px 1.5%;
	padding-left:10px;
	position: absolute;
    z-index: 9999;
    bottom: 10px;
		background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,1),rgba(0,0,0,0.6), rgba(0,0,0,0));
    background-image: linear-gradient(bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.6), rgba(0,0,0,0));
	    width: 100%;
    text-align: left;
    line-height: 42px;
    left: 0px;
	}
	
.preloaderCont { left:47% !important;}
.slt_block {     margin-top: 61px;}
	
}*/

@media screen and (min-width:375px) and (max-width:479px){
/*LANDING PAGE*/
.signinbtn{ color: #fff;}
.homeLogo{margin-left:45px;}
.nav {  margin: 20px 0 0 18px; width: 35px;}
.tit_blk {width: 228px;}
.shw_blk .span3 { /*margin: 0 1.5% 0 1.5%;*/}
.tit_blk h3 { font-size:22px;}
.srh { width: 31px;}
.shw_blk h3 { font-size: 20px;
	margin:10px 1.5% 10px 1.5%;
	padding-left:10px;
	/* position: absolute;*/
    z-index: 9999;
   /* bottom: -10px;*/
	
/*		background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,1),rgba(0,0,0,0.6), rgba(0,0,0,0));
    background-image: linear-gradient(bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.6), rgba(0,0,0,0));*/
	    width: 100%;
    text-align: left;
    /*line-height: 42px;*/
    left: 0px;}
	
}
@media screen and (min-width:480px) and (max-width:600px){
/*LANDING PAGE*/
.signinbtn{ color: #fff;}
.homeLogo{margin-left:45px;}
.nav {  margin: 20px 0 0 18px; width: 35px;}
.tit_blk {width: 228px;}
.shw_blk .span3 { /*margin: 0 1.5% 0 1.5%;*/}
.tit_blk h3 { font-size:22px;}
.srh { width: 31px;}
.shw_blk h3 { font-size: 20px;
	margin:10px 1.5% 10px 1.5%;
	padding-left:10px;
	/* position: absolute;*/
    z-index: 9999;
   /* bottom: -10px;*/
	
/*		background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,1),rgba(0,0,0,0.6), rgba(0,0,0,0));
    background-image: linear-gradient(bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.6), rgba(0,0,0,0));*/
	    width: 100%;
    text-align: left;
    /*line-height: 42px;*/
    left: 0px;}
	
}

/*-----------------------------------------------------------------------------------------------------------------

						 ---			SMART PHONES SMALL SCREEN		---

-----------------------------------------------------------------------------------------------------------------*/


@media screen and (min-width:320px) and (max-width:374px){
/*LANDING PAGE*/
.signinbtn{ color: #fff;}
 .signinbtn{  background-color:transparent;  border: transparent; text-align:right; }
.nav {  margin: 20px 0 0 18px; width: 35px;}
.homeLogo{ margin-left:30px;}
.tit_blk {width: 191px;}
.shw_blk .span3 { /*margin: 0 1.5% 0 1.5%; */}
.tit_blk h3 { font-size:20px;}
.srh { width: 31px;}
.freebtn {width: 300px !important; font-size: 14px !important; }
/*.shw_blk h3 { font-size: 20px;
	margin:10px 1.5% 10px 1.5%;
	padding-left:10px;
	position: absolute;
    z-index: 9999;
    bottom: -10px;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,1),rgba(0,0,0,0.6), rgba(0,0,0,0));
    background-image: linear-gradient(bottom, rgba(0,0,0,0.1),rgba(0,0,0,0.6), rgba(0,0,0,0));
	    width: 97%;
    text-align: left;
    line-height: 42px;
    left: 0px;

	}*/
}
	
	
	
	
	





























 








