.bgwhite {
    background: #fff;
    color: #333;
}

.positiontop {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.closebt {
    padding: 5px 10px;
    border-radius: 100px;
    background: #333;
    color: #fff;
    position: absolute;
    right: 15px;
    margin-top: -50px;
}
 
.prd_hed {
    width: 100%;
    height: 63px;
    background-color: #150d0f;
}
.prd_wrp {
    width: 1280px;
    margin: 0 auto;
}
.prd_logo {
    float: left;
   margin: 13px 0px 13px 15px;
    width: 80px;
}
.prd_logo img {
    width: 100%;
}
.prd_login {
     margin-top: 14px;
    margin-right: 15px;
    float: right;
}

.alnright {
    text-align: right;
}

.prd_cnt {

    margin-top: 20px;
}
.prd_cnt a {
    text-decoration: none;
    text-decoration: none;
    color:#000; margin-left:14px;
    position: relative;
    color:#fff;
}
.prd_cnt a:hover {
    text-decoration: none;
}
.prd_pdt {
    width: 32.2%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 420px;
    border: 1px solid #ddd;
    margin-right: 0.5%;
    margin-left: 0.5%;
}
.prd_pdt img {
    width: 100%;
}
.prd_pdt h3 {
    font-size: 14px;
    color: #6c6c6c;
    line-height: 20px;
    margin-top: 10px !important;
    padding-top: 0 !important;
}
.prd_pdt h3 .prd_price {
    font-weight: bold;
    color: #000;
    display: block;
    margin-top: 10px !important;
    font-size: 18px;
}
.prd_ftr {
    width: 100%;
    border-top: solid 1px #d7d7d7;
    float: left;
    text-align: center;
}
.prd_ftr p {
    margin: 15px 0;
    font-size: 12px;
    color: #8c8c8c;
}
.socialIcons {
    margin: 50px;
}
.prd_det {
    float: left;
    width: 100%;
    padding: 20px 0px 0 0;
}
.prd_tmb {
    width: 70px;
    float: left;
	    margin-left: 120px;
}
.prd_tmb ul {
    margin: 0px;
    padding: 0px;
}
.prd_tmb ul li {
    list-style: none;
    margin-bottom: 15px;
    border: solid 1px #d2d2d2;
    padding: 3px;
}
.prd_tmb ul li.act {
    border: solid 1px #b00e00;
    cursor: pointer;
}
.prd_tmb ul li.act:hover {
    transform: scale(1.1);
}

.prd_tmb img {
    width: 100%;
}
.prd_viw {
    width: 445px;
    float: left;
    margin-left: 120px;
}
.prd_viw img {
    width: 100%;
}
.prd_lft { float:left; width:942px; }
.prd_lft p { font-size:16px; text-align:center; width: 100%; display: inline-block; margin-top: 40px;}
.pnl_rgt { float:right; padding:20px; background-color:#f1f0ec; margin-top: 22px;  height: 840px;}
.clr {     position: absolute;
    right: 0px;
    margin: 0px;
    padding: 0px;
    top: 63px;}
.prd_des {
    width: 330px;
    float: right;
    margin-top: 15px;
	padding-left:25px;
    margin-top: -60px;
    height: 100%;
    padding-top: 75px;
	border-left:solid 1px #ccc;
	min-height:575px;
}
.prd_des h2 {
    font-size: 22px;
    color: #656565;
    line-height: 24px;
	text-transform:uppercase;
    margin: 0 0 15px 0;
    font-weight: normal;
}
.prd_des .pdc { margin-bottom:20px; font-size:13px; color:#5c5c5c;}
.prd_des h4 {
    font-size: 20px;
    color: #1d1d1d;
    margin: 20px 0 20px 0 !important;
    font-weight: normal;
}
.prd_des .prd_clr {
    padding: 15px 0 25px 0;
    border-top: solid 1px #c2c2c2;
    width: 100%;
    float: left;
}
.prd_des .prd_clr h4 { line-height:33px; color: #d40000; font-size:18px;}
.prd_des .prd_clr p {
    font-size: 14px;
    float: left;
    text-transform: uppercase;
    line-height: 34px;
    margin-bottom: 0px;
	margin-right:15px;
}
.prd_des .prd_clr .prd_cr {
    float: left;
	-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;
}
.prd_des .prd_clr .prd_cr span:hover { -webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);-o-transform:scale(1.1);}
.prd_cr span {
    width: 32px;
    height: 32px;
    margin: 0 8px;
    float: left;
    background-color: #ccc;
}

.pad5 {
    padding-left: 5px;
}
.pad40 {
    padding-left: 40px;
}
.prd_des .prd_clr .prd_cr .red {
    background-color: #e00000;
}
.prd_des .prd_clr .prd_cr .blue {
    background-color: #0b0e36;
}
.prd_des .prd_clr .prd_cr .black {
    background-color: #000;
}
.prd_des .prd_clr .prd_cr .orange {
    background-color: #f25500;
}
.prd_des .prd_clr .prd_cr .act {
	    border: 1px solid #ffffff;
    outline: 1px solid #c8a985 !important;
}
.prd_des .prd_clr .prd_sze select {
    border: solid 1px #b2b2b2;
    background-image: url(../../../images/select_bg.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #fff;
    height: 34px;
    width: 120px;
    float: right;
    padding: 5px 10px;
    color: #4e4e4e;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.prd_pz { border: 1px solid #b00e00;
    color: #b00e00;
    width: 100%;
    border-spacing: 0px;
    height: 36px;}
.prd_aro {
    padding: 0px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid white;
    background: #b00e00;
	    border-top-width: 17px;
    border-bottom-width: 17px;
    border-left-width: 16px;
	float:left;
}
.prz { width:148px; float: left; font-size: 18px; line-height:35px; text-align:center}
.prz_txt {
    background-color: #b00e00;
          display: inline-table;
    text-align: center;
    text-transform: uppercase;
	font-size:13px;
	color:#fff;
	    padding: 7px 8px 7px 8px;
		    width: 45.6%;
}
.prz_txt .confirmContainer { margin-top:0px;}
.prd_des .prd_clr .prd_sze,
.prd_des .prd_clr .prd_qnt {
    float: left;
}
.prd_des .prd_clr .prd_sze h4,
.prd_des .prd_clr .prd_qnt h4 {
    margin: 0px 20px 0px 0px !important;
}
.confirmred {
    background-color: #ec1e2a !important;
    border: #700108 1px solid !important;
}

.changesel:hover {
    color: #ec1e2a !important;
}

.prd_des .prd_clr .prd_qnt .inc {
    width: 36px;
    height: 36px;
    float: left;
    background-image: url(../../../images/inc.png);
    background-repeat: no-repeat;
    background-position: 5px;
    cursor: pointer;
}
.prd_des .prd_clr .prd_qnt .inbx {
    width: 50px;
    height: 35px;
    text-align: center;
    line-height: 34px;
    color: #4e4e4e;
    border: solid 1px #adadad;
    float: left;
    margin: 0 5px;
}
.prd_des .prd_clr .prd_qnt .dec {
    width: 36px;
    height: 36px;
    float: left;
    background-image: url(../../../images/dec.png);
    background-repeat: no-repeat;
    background-position: 5px;
    cursor: pointer;
}
.cn_btnproduct {
    color: #fff !important;
  /*   padding: 14px 25px !important; */
    font-size: 15px;
    background-color: #b00e00;
  /*  width: 51%;*/
    border: none !important;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
	text-align:center;
    /*background-image:url(../images/btn_aro.png);
    background-repeat:no-repeat; background-position:93% 50%;
    background-size:7px;*/
}


.cn_btn {
    color: #fff !important;
    padding: 14px 25px !important;
    font-size: 15px;
    background-color: #b00e00;
  /*  width: 51%;*/
    border: none !important;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
	text-align:center;
	/*background-image:url(../images/btn_aro.png);
	background-repeat:no-repeat; background-position:93% 50%;
	background-size:7px;*/
}
.cn_btn1 {
    color: #fff !important;
  padding: 10px 25px 10px 25px !important;
    font-size: 15px;
    background-color: #b00e00;
  width: 51%;
    border: none !important;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
	text-align:center;
	/*background-image:url(../images/btn_aro.png);
	background-repeat:no-repeat; background-position:93% 50%;
	background-size:7px;*/
}

.pagenumber
{
  float:right;  
  margin-bottom: 50px;
}

.cs { font-style:italic; margin-top:7px; font-size:13px; color:#333; float: left;}
.idnc {/* width:95%; margin:0 auto;    display: inline-block; width:100%;*/ }
.idnc h2 { padding-bottom:15px; border-bottom:solid 1px #797979; font-size:24px; font-weight:normal; text-transform:uppercase;}

.prd_des .prd_clr .cn_btn:hover {
    background-color: transparent; }
.idnc h4 { font-size:20px; margin-top:35px; font-weight:normal;}
.lg_frm { 
    /* width: 98%; */
    margin-top: 25px;
   /*  margin-left: 1%;
    margin-right: 1%; */
}
.lg_frm label { font-size:14px; text-transform:uppercase; width:200px; font-weight:normal; float:left;}
.lg_frm input { padding:8px 15px; border: solid 1px #565656; width:400px; float:left;}
.lg_frm select { padding:9px 15px;    border: solid 1px #565656; background-color: #2d2d2d; width:400px; float:left;}
.idnc .cn_btn1 { float:right; width: inherit; margin-top:15px;}
.idnc .cn_btn2 { float:left;}
.idnc h5 { font-size:18px; font-weight:normal; margin-bottom:15px;}

.btn-info { padding: 7px 15px !important; background-color:#e81d29; border:none !important;}
.btn-info:hover { background-color:#e81d29 !important; border:none;}

.dvs .form-control{ width:250px !important;}
.adrs { margin:10px 0;}

.add_adrbtn {
    background: transparent;
    color: #533f34;
    font-size: 1em;
    border: 0;
    padding: 9px 20px;
    padding-left: 28px;
    vertical-align: middle;
	width:200px !important;
    text-decoration: none;
    display: inline-block;
    width: auto;
    text-align: center;
    -webkit-appearance: none;
    -webkit-opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    background-position: 10px 50%;
    text-transform: uppercase;
    background-color: transparent;
    padding: 8px 19px;
    padding-left: 27px;
    border: solid 1px #533f34 !important;
    background-image: url(../../../img/add_brownRegular.png);
    background-repeat: no-repeat;
    padding-right: 0;
    min-height: 13px;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 100);
    filter: alpha(opacity = 100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
}

.add_adrbtn:hover { border:solid 1px #cacaca !important;}

.add_adrbtnchangeplan {
    background: transparent;
    color: #533f34;
    font-size: 1vw;
    border: 0;
    padding: 9px 20px;
	float:right;
    padding-left: 28px;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    width: auto;
    text-align: center;
    -webkit-appearance: none;
    -webkit-opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    background-position: 10px 50%;
    text-transform: uppercase;
    background-color: transparent;
    padding: 8px 19px;
    border: solid 1px #533f34 !important;
    margin-bottom: 10px;

}

.add_adrbtnchangeplan:hover { border:solid 1px #cacaca !important;}
.plan { float:left; font-size:18px;}
.adb { padding:10px 15px; background-color:#efefef;}




.adpr { width:85px !important; margin-top:20px;}
.opn_adr {    background-color: #e4e4e4;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
	    position: relative;
		margin-bottom:35px;
	}
.chn {
    background: transparent;
    color: #533f34;
    font-size: 1em;
    border: 0;
    padding: 9px 20px;
    padding-left: 28px;
    vertical-align: middle;
	width:120px !important;
    text-decoration: none;
    display: inline-block;
    width: auto;
    text-align: center;
    -webkit-appearance: none;
    -webkit-opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    background-position: 10px 50%;
    text-transform: uppercase;
    background-color: transparent;
    padding: 8px 19px;
    padding-left: 27px;
    border: solid 1px #533f34 !important;
    background-repeat: no-repeat;
    padding-right: 0;
    min-height: 13px;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 100);
    filter: alpha(opacity = 100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
}
.chn:hover { border:solid 1px #cacaca !important;}
.nt_blk {
	display:inline-block;
	margin-bottom:20px;
    background: #f1f0ec;
    padding: 15px;
	width:100%;
}
.cls {
    height: 25px;
    background: url(../../../images/close_XL_brownRegular.png) 50% 0;
    background-repeat: no-repeat;
    text-indent: -9999em;
    display: inline-block;
    width: 26px;
	position:absolute;
	right:20px;
}
.nt_blk p { float:left; margin-right:15px;}
.chk { float: left; margin-right:15px;}
.chk input { width:35px !important; float:left;}
.chk label { width:100px; padding:0px; margin:0px;}
.chk1 input { width:25px !important;}
.chk1 label { width:94%; padding:0px; margin:0px;}
.fpw { display:inline-block; width:100%; text-align:right;}
.fpw a {  font-size:12px; text-align:right; color: #bfa69a;}
.shr {  margin-top:10px;}
.shr_btn {
    background: url(../../../images/share_icon_grey_24.png) no-repeat;
    background-position: 5px;
        padding: 6px 5px 6px 25px;
	  border: 1px solid #a5a5aa;
    color: #a5a5aa;
    padding: 10px;
    text-align: center;
    padding-left: 30px;
    text-transform: uppercase;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 100);
    filter: alpha(opacity = 100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
	float:left;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
}
.phn {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    border: 1px solid #ffffff;
    color: #c8a985;
	background-position:0 0;
    line-height: 40px;
    padding-left: 40px;
    min-height: 40px;
    background-image: url(../../../images/call_center.png);
    background-repeat: no-repeat;
    padding-right: 0;
}
.cwa { background-color:#ebe8e3; width:100%; min-height:1000px; padding:15px; display:inline-block; font-size:13px; color:#595959; right: -19px;
    top: -40px; position:absolute;}
.cwa h4 { margin-top:20px; margin-bottom:20px;}
.cwa ul { margin-left:20px; margin-top:5px;}
.cwa ul li { list-style:disc;}
.ttl { font-size:18px !important; font-weight:normal !important; color:#c8a985 !important; margin-top:10px !important; margin-bottom:0px !important;}
.cwa .odr_sum h4 { margin-top:0px;}
.lgi {}
.lgi label { width:80px;}
.lgi input { width:300px;}
.resimg {
    width: 100%;
    border: 3px double #ddd;
}
.prd_sip {
    width: 100%;
    padding: 20px 0px;
    display: inline-block;
}
.prd_sip .form-group .col-md-6 { padding: 0px;}
.sip_nav {

    display: inline-block;
    margin-left: 5px;
}
.sip_nav ul {
    margin: 0px;
    padding: 0px;
}
.sip_nav ul li {
    list-style: none;
    float: left;
    margin: 0 20px 0 0px;
}
.sip_nav ul li a {
    color: #919191;
    text-transform: uppercase;
    font-size: 13px;
    margin-right: 30px;
}
.sip_nav ul li a:hover {
    color: #313131;
}
.sip_nav ul li a.active {
    color: #313131;
}
.sip_tit {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
}
.sip_tit h2 {
    font-size: 26px;
    text-transform: capitalize;
    font-weight: normal;
    color: #373737;
    font-family: 'wickedgrit', Helvetica, sans-serif;
    margin-left: 10px;
}
.sip_lft {
    width: 100%;
}
.sip_lft h4 {
    font-size: 16px;
    color: #5c5c5c;
    margin-bottom: 20px;
    margin-top: 30px;
}
.sip_lft .sip_blk {
    padding: 15px 0px;
    border-top: solid 1px #dadada;
    display: inline-block;
    width: 100%;
}
.sip_lft .sip_blk p {
    margin-bottom: 0px;
    color: #727272;
}
.sip_lft .sip_blk .ps1 {
    color: #333;
}
.sip_lft .sip_blk .sip_ad {
    width: 90%;
    float: left;
}
.sip_lft .sip_blk .sip_ic {
    width: 10%;
    float: left;
}
.sip_lft .sip_blk .rdo {
    float: right;
    margin-right: 20px;
    width: 30px;
}
.sip_lft .sip_blk .chek {
    width: inherit;
    float: left;
    margin-right: 10px;
}
.add_adr {
    width: 100%;
    margin-top: 20px;
}
.add_adr input {
    padding: 18px 15px;
    width: 100%;
    border: solid 1px #cfcfcf;
    color: #3b3b3b;
}
.add_adr select {
    padding: 16px 15px;
    width: 100%;
    border: solid 1px #cfcfcf;
    color: #3b3b3b;
}
.add_adr .form-group {
    margin-bottom: 10px;
        overflow: hidden;
}
.cp {
    width: 350px !important;
        margin-right: 20px;
}
.lis {
    display: inline-block !important;
}
.odr_sum {
	width: 290px;
    float: right;
    background-color: #fff;
    padding: 20px;
}

.odr_sum h4 {
    font-size: 16px;
    color: #5c5c5c;
    margin-bottom: 20px;
    margin-top: 30px;
    color: #1c1c1c;
}
.odr_sum .row {
    margin-bottom: 10px;
}
.sb_tl {
    border-top: solid 1px #ccc;
    padding: 5px 0;
    font-weight: bold;
}
.pnl_rgt .odr_sum {
	width: 290px;
    float: right;
    background-color: #fff;
    padding: 20px;
}
.pnl_rgt .odr_sum h4 { margin-top:0px;}
.same {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px !important;
}
.paymt {
    margin-bottom: 20px;
}
.plns {
    width: 100%;
    text-align: center;
}
.plns .rg_btn {
    margin-top: 20px;
    color: #fff;
    background-color: #1b1b1b;
    border: none;
    font-size: 12px;
    line-height: 14px;
    padding: 10px 15px 7px 15px !important;
    border-radius: 3px;
    text-transform: uppercase;
}
.plns .rg_btn:hover {
    background-color: #333333;
}
.prs th {
    background-color: transparent !important;
    border: none !important;
    font-size: 16px;
    text-align: center;
}
.ord_mn {
    width: 100%;
    height: 100%;
    float: left;
}
.ord_wrp {
    width: 60%;
    margin: 0 auto;
}
.ord_cnt {
    overflow: hidden;
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
    margin-bottom: 20px;
    border: solid 1px #efefef;
}
.ord_hed {
    width: 100%;
    height: 80px;
    background-color: #fafafa;
    float: left;
}
.ord_hed .ord_logo {
    width: 100px;
    margin: 0 auto;
    padding: 20px 0;
}
.ord_hed .ord_logo img {
    width: 100%;
}
.ord_nm {
    float: left;
    width: 100%;
    border-bottom: solid 1px #dfdfdf;
}
.ord_nm h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5px;
}
.ord_nm h4 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #229000;
}
.ord_num {
    width: 100%;
    float: left;
    background-color: #fafafa;
    border-bottom: solid 1px #dfdfdf;
    padding: 0 10px;
    box-sizing: border-box;
}
.ord_num .ps {
    float: left;
    font-size: 13px;
    color: #1f1f1f;
    margin-top: 10px;
}
.ord_num .ps2 {
    float: right;
    font-size: 13px;
    color: #1f1f1f;
    margin-top: 10px;
}
.ord_det {
    width: 100%;
    float: left;
    padding: 15px;
}
.ord_det p {
    margin: 0px;
}
.ord_det .ps3 {
    font-weight: bold;
}
.ord_det .ord_lft {
    float: left;
    width: 60%;
    margin-top: 20px;
}
.ord_det .ord_lft img {
    width: 250px;
}
.ord_det .ord_rgt {
    float: right;
    width: 40%;
    margin-top: 20px;
}
.ord_det .ord_rgt h4 {
    font-size: 16px;
    margin: 0px 0 15px 0 !important;
}
.ord_det .ord_rgt .ord_row {
    width: 100%;
    float: left;
    padding: 10px 10px;
    border-bottom: solid 1px #ececec;
}
.ord_det .lft_row {
    width: 60%;
    float: left;
}
.ord_det .rgt_row {
    width: 40%;
    float: right;
}
.ord_adrs {
    width: 100%;
    padding: 15px;
    float: left;
}
.ord_adrs h4 {
    font-size: 15px;
    margin: 0 0 5px 0;
    font-weight: bold;
}
.ord_adrs p {
    margin: 0 0 0 0;
    line-height: 18px;
}
.ord_adrs .odr_ldr {
    float: left;
    width: 200px;
}
.ord_adrs .odr_rdr {
    float: right;
    width: 200px;
}
.ord_ftr {
    width: 100%;
    float: left;
    height: 20px;
    text-align: center;
    display: inline-table;
}
.ord_ftr p {
    font-size: 13px;
    margin: 10px 0 10px 0;
}
.ord_ftr p a {
    color: #ec4100;
    text-decoration: none;
}
.ord_hed .sip_tit {
    margin-top: 10px;
    text-align: center;
}
.selectcor {
    width: 20px;
    height: 20px;
    display: inline-block;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.ccdata {
    padding: 18px 15px;
    width: 100%;
    border: solid 1px #cfcfcf;
    color: #3b3b3b;
}
.changesel {
    background-color: transparent !important;
}
.event {
    background-color: #aaa;
    margin-top: 0px;
    height: 100%;
    position: fixed;
    overflow-y:scroll;
    min-height: 300px !important;
    width: 100%;
    background-image:url(../../../images/store_bg.jpg); 
    background-repeat:repeat;
}
.evt_img {
    width: 40%;
    float: left;
    display: block;
    margin-left: 7%;
}
.evt_img img {
    width: 100%;
}
.evt_cn {
    width: 36%;
    text-align: center;
    float: right;
    margin-right: 11%;
    margin-top: 10%;
    margin-bottom: 100px;
}
.evt_cn a { color: #fff;}
.evt_join {
    padding: 10px 33px;
    text-transform: uppercase;
    font-family: 'wickedgrit', Helvetica, sans-serif;
    color: #282828;
    font-weight: bold;
    background-color: transparent;
    margin-top: 90px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    -webkit-border-radius: 5px;
    border: solid 3px #fff !important;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
}
.evt_join:hover {
    background-color: #000;
}
.evt_blk {
    width: 350px;
    display: inline-block;
    background-color: #676767;
    border-radius: 5px;
    padding: 25px 30px;
    color: #fff;
}
.evt_blk h4 {
    font-family: 'futura', Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 0px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #fff;
}
.evt_blk h4 .tic {
    font-size: 30px;
    line-height: 36px;
}
.evt_blk h2 {
    font-size: 20px;
    color: #fff;
    font-weight: normal;
    margin: 0 0 26px 0;
    line-height: 20px;
    text-transform: capitalize;
    font-family: 'futura', Helvetica, sans-serif;
}
.evt_blk h2 span {
    font-size: 24px;
}
.evt_blk input,
.evt_blk select {
    float: left;
    background-color: transparent;
    border: solid 1px #333;
    padding: 9px 15px;
    font-family: 'futura', Helvetica, sans-serif;
}
.evt_blk input,
.evt_blk select option {
    background-color: #666;
}
.fmw {
    display: inline-block;
}
.bgblack {
	background: #000 !important;
}
.txtwhite{
	color:#fff !important;
}

.evt_blk label {
    float: left;
    font-weight: normal;
    font-family: 'futura', Helvetica, sans-serif;
    font-size: 20px;
    line-height: 18px;
    margin-right: 10px;
    padding: 5px;
}
.smt {
    background-color: #333333;
    font-family: 'futura', Helvetica, sans-serif;
    border: solid 1px #111;
    border-radius: 3px;
    padding: 10px 15px;
    width: 100%;
    font-size: 22px;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
}
.smt:hover {
    background-color: #222;
}



.backtoc {
     cursor: pointer;
    margin: 10px 0px 0px 0px;
    color: #111;
	float:right;
  
    display: inline-block;
    text-align: right;
    font-style: italic;
    width: 100%;
    font-size: 12px;
}


.prt_ord {  font-family: 'PoetsenOne-Regular', Helvetica, sans-serif;}
.prt_hed { width:100%; background-color:#3f3f3f; display:inline-block; padding:15px 20px; margin-top:40px;}
.prt_h4 { font-size:14px; color:#fff; float:left;}
.prt_h4 .plcon { color:#d8d8d8;}
.prt_h2 { font-size:20px; color:#fff; float:right; text-transform:capitalize; line-height:32px;  font-family: 'PoetsenOne-Regular', Helvetica, sans-serif; font-weight:normal;}
.prt_h2 .ordi { color:#d9d9d9; font-size:16px;}
.prt_cn { width:100%; background-color:#f6f6f6; padding:20px; display: inline-block; border-bottom:solid 3px #3f3f3f;}
.prt_blk { width:100%; margin-bottom:30px;     display: inline-block;}
.prt_lft { float:left; width:30%;}
.prt_lft img { width:100%;}
.prt_rgt { float:right; width:60%;}
.prt_txt {  margin-bottom:2px; padding:15px 20px; background-color:#fff; border-radius:10px; border:solid 1px #e9e9e9;}
.prt_txt h4 { font-size:18px; color:#1b1b1b; font-weight:normal; margin:0px;}
.prt_txt h4 .gues { font-size:26px; float: right; line-height: 16px;}
.prk_txt2 { width:150px; margin-right:38px;}
.prt { font-size:16px; color:#1b1b1b;  margin-bottom:5px; font-weight:normal; margin-top:0px;}
.prt span { font-size:14px; color:#555454;}
.prt_blk p { font-size:13px; color:#1b1b1b; max-width: 400px;  font-family: 'PoppinsRegular', Helvetica, sans-serif;}
.prt_ftr { width:70%;}
.prt_ftr2 { width:22%;}
.prt_mo { margin-bottom:0px;}

/*------------------------------------------------------------*/

.my_ord {
    margin-top: 25px;
    position:relative;
}
.ordd {
    width: 100%;
    display: inline-table;
    background-color: #3a3a3a;
    padding: 15px;
}
.ordd_prd {
    width: 240px;
    float: left;
}
.ordd_img {
    width: 65px;
    height: 65px;
    padding: 3px;
    border: solid 1px #f3c998;
    float: left;
    margin-right: 15px;
}
.ordd_prd h4 {
    font-family: 'Open Sans', sana-serif;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.ordd_qty {
    font-size: 12px;
    color: #c3c3c3;
    margin-bottom: 0px;
	float:left;
	margin-right:60px;
}
.ordd_inv {
    width: 300px;
    float: left;
    margin-left: 40px;
	margin-top:15px;
}
.ordd_inv p {
    text-align: center;
    margin-bottom: 10px;
	line-height:20px;
}
.ordd_invbt {
    width: 100%;
    text-align:center;
}
.dtbtns { display:none;}
.inv { padding:5px 10px; background-color:#fff; font-size:13px; color:#535353; text-transform:uppercase; padding-left:30px; background-image:url(../../../images/inv.png); background-repeat:no-repeat; background-position:10px 50%; float:left; border-radius:3px; border:solid 1px #c3c3c3; cursor:pointer;}
.rtn { padding:5px 10px; background-color:#fff; font-size:13px; color:#535353; text-transform:uppercase; padding-left:30px; background-image:url(../../../images/rtn.png); background-repeat:no-repeat; background-position:10px 50%; float:right; border-radius:3px; border:solid 1px #c3c3c3; cursor:pointer;}
.od_pze { float:right; margin-top:20px;}
.od_pze p { }
.od_pze p strong { font-size:18px; color:#fff;}
.trk { width:145px; float:right; border-left: 0px solid rgb(225, 224, 220); text-align:right;}
.trk p { color:#c3c3c3; font-size:13px; text-align:right;}
.trk_btn { background-color:#d5d4cf; color:#343434; font-size:14px; padding: 3px 10px;
    border-radius: 2px;padding-left: 23px; margin-left: 23px; margin-top: 13px; float:left; background-image:url(../../../images/lcn_ico.png); background-repeat:no-repeat; background-position:10px 50%;}
.ordd_ft { width:100%; background-color:#2d2d2d; height:36px; display: inline-block; padding:10px;}
.ordd_dt { font-size:13px; color:#b7b7b7; float: left;}
.ordd_bnt { padding:2px 15px; padding-right:20px; background-color:#fff; border-radius:2px; background-size:5px; font-size:13px; color:#fff; background-image:url(../../../images/btn_aro.png); background-repeat:no-repeat; background-position:90% 50%; float:right; margin-top:-3px; cursor: pointer;}
.odr_mnu { width: 290px;  float: right;} 
.odr_mnu .phn { border:none;}
.odr_mnu ul { margin:0px !important; padding:0px !important; margin-top:20px !important; border-top:solid 1px #bababa;}
.odr_mnu ul li { list-style:none !important; width:100%; border-bottom:solid 1px #bababa; margin:0px; padding:0px;}
.odr_mnu ul li a { padding:7px 5px; padding-left:25px; font-size:14px; color:#434343; background-image:url(../../../images/mnu_aro.png); background-repeat:no-repeat; background-size:6px; background-position:10px 50% ; display:block; }
.odr_mnu ul li a:hover {     color: #c8a985;}
.odr_det { width:100%; float:left; background-color:#f1f0ec; margin-top:25px; padding-bottom:20px;}
.ord_inf { width:100%; background-color:#e7e6e2; padding:20px; display: inline-table}
.ord_dtl { float:left; width:500px;}
.ord_dtl p { font-size:14px; color:#4f4e4e; font-weight: bold; margin-bottom:8px;}
.ord_dtl p .dtsp { width:100px; float:left; font-weight:normal;}
.dtpr { color:#d49b58; font-size:18px; font-weight:normal;}
.dtsa { float:right; width:320px;}
.dtsa h4 { text-transform:uppercase; font-size:16px; color:#3f3f3f; margin-top:0px; margin-bottom:10px;}
.dtsa p { font-size:13px; color:#3f3f3f;}
.dtprd { width:100%; padding:20px;}
.dtlft { float:left; width:390px;}
.dtimg {width: 143px;
    height: 143px;
    border: double 3px #d49b58; float:left; margin-right:20px;}
.dttit { font-size:16px !important; color:#d49b58; margin-bottom:10px; text-transform:capitalize !important; margin-top:0px !important; line-height:22px;}
.dtqty { font-size:13px; color:#4f4e4e; margin-bottom:20px; line-height:22px;}
.dtbtns { width:100%; font-size:13px !important; }
.dtrgt { float:right;}
.dtsts { padding:5px 10px; text-transform: uppercase; background-color:#e7e6e2;}
.dt_tlp { width:183px; float:right;     margin-top: 86px;}
.dt_tlp h4 { margin-top:0px !important; font-size:16px; color:#3f3f3f;}
.dt_tlp h4 .dt_prc { font-size:18px; color:#d49b58;}



.conti {
	width: 230px;
    margin: 20px auto;
    padding: 15px 20px !important;
}
.backto {     color: #fff;
    text-align: center;
    }

.changesel { background-color: transparent;; padding: 0px;}


/* Responsive */

.prd_logo img,.prd_pdt img,.prd_tmb img,.prd_viw img,.sip_lft,.ord_hed .ord_logo img,.rg_img img,.evt_img img,.prt_lft img {
width:100%;
}

.prd_tmb ul,.sip_nav ul,.prd_acc section ul,.prd_acc .col-md-10,.col-md-2,.col-md-5 {
margin:0;
padding:0;
}

.prd_des .prd_clr .prd_cr .black,.evt_join:hover,.img_tit:hover {
background-color:#000;
}

.cn_btn:hover,.plns .rg_btn:hover {
background-color:#9c0c00;
}

.sip_nav ul li a:hover,.sip_nav ul li a.active {
color:#313131;
}

.add_adr input,.frm .form-control {
width:100%;
border:solid 1px #cacaca;
color:#3b3b3b;
padding:10px 15px;
box-shadow: none !important;
}

.paymt,.gal {
margin-bottom:30px;
}

.ptnd,.eright a {
color:#000;
}
.disable {
    opacity: 0.2;
}
#paymentButton { float: left;}

#paymentButton {
    margin-top: 10px;
    padding: 14px 45px !important;
    background-color: #5fcf80;
    color: #fff !important;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);
    border-width: 1px 1px 3px !important;
    border-style: solid;
    border-color: #3ac162;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    -moz-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}

.backto {     
    padding: 14px 45px !important;
    background-color: #ff0000;
    margin-top: 11px;
    border-radius: 3px;
    display: inline-block;
}

.backto:hover {
    color:#fff !important;
}
.formdevice .help-block { font-size: 14px; float: left; top: -20px; left: 0px; position:absolute;}

@media only screen and (max-width: 1280px){
.prd_lft {  width:850px; }

.prd_wrp {
    width: 1180px;
}
	
	}
@media (min-width:320px) and (max-width:768px) {
    /* #player1 .bitdash-ctrl{
        display: none;
    } */
	.a0-collapse-social { width:100% !important; border:0px !important;}
    .a0-collapse-social-signup { width:100% !important; border:0px !important;}
.a0-emailPassword { width:100% !important; margin-right:0px !important; padding-top:10% !important; }
.a0-collapse-social {     padding: 2% 5% !important;}
.a0-collapse-social-signup {     padding: 2% 5% !important;}
.a0-separator {
    left: 49% !important;
    top: 62% !important;
	font-size:16px !important;
}
.a0-signup .a0-emailPassword { padding-top: 4% !important;     border-top: solid 1px #3a3a3a; margin-top:20px;}
.a0-action { right: 42% !important; height:70px !important;  top: 15px !important;}
    .thumbsWrapper {
        overflow: hidden;
    }
    .idnc .row { margin:0px;}
	.add_adr .form-group { overflow:inherit; float:left; width:100%;     margin-bottom: 15px;}
	.add_adr .chek { height: 17px;
    margin-top: 0px;
    float: left;
    margin-right: 5px}
	.lg_frm { margin-left:0px; margin-right:0px;}
 .prodcontent_inner { font-size:0.9em;}
 .prodcontent_inner .row { margin:0px;}
 .prodcontent_inner .accHead { margin-bottom:10px;}
 .prodcontent_inner .col-xs-12 { padding:0px;}
 .prodcontent_inner .subhead { margin-bottom:10px; margin-top:10px;}
 .botdivbrd {     border-bottom: 1px solid #ababab;}
 .prodcontent_inner .add_adrbtnchangeplan { font-size: 11px;}
 .prodcontent_inner p { margin-bottom:5px;}
 .prodcontent_inner .adrs .col-md-8 { padding:0px;}

.joinbtn { padding:0px; margin-top: 11px;}
.idnc .col-md-12 { padding:0px;}
.ordd_inv { width:100%;}
.srh2 {
    float: none !important;
    width: 239px;
    margin: 0 auto;
    display: table;
    margin-bottom: 10px;
}
.srh {
    float: none !important;
    width: 289px;
    margin: 0 auto;
}
.ordd_qty { text-align:right !important;}
.dtsts {
    text-transform: capitalize;
	font-size:13px;
}
.dt_tlp {     width: 179px;}
.dt_tlp h4 {
    font-size: 13px;
}
.dt_tlp h4 .dt_prc {     font-size: 15px;}
.lg_frm input { height:41px;}
.lg_frm select { height:41px;}
.storytxt { padding:0 12px;}
}

@media (min-width:768px) and (max-width:1030px) {

.mob-dashboard { margin-top: 60px; }
.headings {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 3px;
    color: #fff;
}
.mhomeLogo { width: 84px; height: auto; }
footer .foot-wrap .linksdiv a {    padding: 6px;}
.socialicn {     margin: 5px;  background-size: 20px !important;     width: 20px;
    height: 20px; }
.mobthumbs { padding: 0px; }
#videoLoad { left: 39%; }
/*.slider .slick-prev, .slider .slick-next { width: 40px !important; height: 30px !important;  background-color: #fff !important; background-size: 25% !important; }
.slider .slick-prev {     background-size: 62% !important; }*/
.speedbuy {  top: 11vw !important; display: block !important; }
.snb {            left:27vw !important; }
.clss { margin-left: 38%;     margin-top: 15px !important;}
.shopnowhome {     margin-top: 23px !important;
    margin-left: 15%; }
.dropdown-menu {     left: -62px; }
.snb {     top: 11vw !important; }
.clsprod {     margin-left: -164px !important; }
footer .foot-wrap .linksdiv { height: 35px !important; }

.pnl_rgt { display: none; }
.sip_nav ul li a { font-size: 12px;
    margin-right: 15px; }
.sip_nav ul li { margin: 0 10px 0 0px; }
.lg_frm { width: 100%; }
.add_adr { width: 100%; }
.lg_frm label { width: 89%;     padding-left: 0px;
    margin-bottom: 0px; }
.add_adr .col-md-6 { width: 100%; }
.idnc .cn_btn1 {     float: left;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px; }
.idnc .col-md-9 { width: 100%; } 
.prd_wrp {
width:725px;
}
.cp { width: 337px !important; }

.prd_logo {
margin:17px 0 0 50px;
}

.prd_pdt {
width:32%;
margin-bottom:50px;
}

.ord_wrp {
width:95%;
}
.prd_lft {     width: 397px; }
.prd_des {
width: 290px;
float:right;
margin-top:0;
margin-right:20px;
    min-height: 575px;
        margin-top: -60px;
}
.closebt { display: none; }
.prd_tmb {
    width: 60px;
    margin-left: 20px;
}
.prz {
    width: 126px;
}
.prd_viw {
    width: 262px;
margin-left:20px;
}
.prd_cnt a img{ width: 6px;
    margin-right: 5px; }

.prd_cnt {
min-height:542px;
}

.prd_sip .row {
margin:0;
}

.sip_tit {
margin-top:5px;
}

.odr_sum {
display:none;
}

.add_adr .cp {
width:100%!important;
}

.evt_img {
width:55%;
margin-top:41px;
margin-left:0;
}

.evt_cn {
float:left;
margin-right:0;
margin-top:13%;
}

.evt_blk {
width:300px;
}

.evt_join {
font-size:25px;
margin-left:40px;
}

.add_adr select {
margin-bottom:20px;
}
.backto {
    color: #fff;
    text-align: center;
    background-color: #bf0000;
    padding: 15px 67px;
    width: 303px;
    margin: 10px 0 0 0;
    border-radius: 3px;
    float: right;
}


.add_adr .col-md-6 {
    padding: 0px !important;
}

#volwrapper { display: none !important;}
.pln_blk3 .pln_cn p {     font-size: 17px;}
.pln_cn .month { margin-top: 0px;}
.idnc .row { margin:0px !important;}
.nt_blk { margin-bottom:0px;}
.add_adr { margin-bottom:20px; float:left;}
.ord_dtl { width: 325px}
.ordd_qty {     margin-right: 17px;}
.ordd_inv { width: 209px;}
}
@media (width:768px) { 
.a0-zocial {
    width: 25% !important;
    min-height: 191px;
    margin: 20px 4% !important;
}
.a0-separator { top: 71% !important;     margin-bottom: 20px;}
}
@media (min-width:480px) and (max-width:767px) {
	.a0-zocial {
    width: 25% !important;
    min-height: 130px;
    margin: 20px 4% !important;
}
.mob-dashboard { margin-top: 60px; }
.headings {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 3px;
    color: #fff;
}
.mhomeLogo { width: 84px; height: auto; }
footer .foot-wrap .linksdiv a {    padding: 6px;}
.socialicn {     margin: 5px;  background-size: 20px !important;     width: 20px;
    height: 20px; }
.mobthumbs { padding: 0px; }
#videoLoad { left: 39%; }

.speedbuy {  top: 6vw !important; display: block !important; }
.snb {         left: 15vw !important; }
.clss { margin-left: 38%;     margin-top: 15px !important;}
.shopnowhome {     margin-top: 23px !important;
    margin-left: 15%; }
.dropdown-menu {     left: -62px; }
.snb {     top: 20vw !important; }

.pnl_rgt { display: none; }
.sip_nav ul li a { font-size: 12px;
    margin-right: 15px; }
.sip_nav ul li { margin: 0 10px 0 0px; }
.lg_frm { width: 100%; }
.add_adr { width: 100%; }
.lg_frm label { width: 89%;     padding-left: 0px;
    margin-bottom: 0px; }
.add_adr .col-md-6 { width: 100%; }
.idnc .cn_btn1 {     float: left;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px; }
.idnc .col-md-9 { width: 100%; } 
.prd_wrp {
width:457px;
}
.alnright {
    text-align: left;
}
.prd_det { padding-bottom: 30px; }
.prd_des {  min-height: 100%; }
.prd_pdt {
width:49%;
}

.prd_logo {
margin:17px 0 0 20px;
}
.logout { margin-right: 20px;}

.prd_login input {
font-size:12px;
width:auto!important;
padding:5px 13px;
}
.shopnowhome { right: 26%; margin-top: 69px;}
.prd_login {
margin:27px 0 0;
}

.ord_wrp {
width:95%;
}

.ord_det .ord_lft img {
width:180px;
}

.ord_det .ord_lft {
width:45%;
}

.ord_det .ord_rgt {
width:55%;
}

.prd_des {
float:right;
width:90%;
margin-top:50px;
margin-right:5%;
padding-top: 0;
}
.closebt { display: none; }
.prz_txt { width: 219px; }
.prd_lft {
    width: 100%;
}
.prd_tmb {
    margin-left: 25px;
}
.prd_viw {
    width: 330px;
margin-left:20px;
}

.prd_cnt {
min-height:542px;
}

.prd_sip .row {
margin:0;
}

.sip_tit {
margin-top:5px;
}

.odr_sum {
display:none;
}

.add_adr .cp {
width:100%!important;
}

.evt_img {
width:100%;
margin-top:41px;
margin-left:0;
}

.evt_cn {
width:100%;
float:left;
margin-right:0;
margin-top:13%;
}
.evt_blk {
width:300px;
margin-bottom:30px;
}

.evt_join {
font-size:28px;
margin-top:-20px;
}

.add_adr select {
margin-bottom:20px;
}

.prd_acc {
width:456px;
}
.cp { width: 100% !important;}
.backto {
    color: #fff;
    text-align: center;
    background-color: #bf0000;
    padding: 15px 67px;
    width: 100%;
    margin: 10px 0 30px 0 !important;
    border-radius: 3px;
    float: right;
}
.changesel {  background-color: transparent; padding: 0;}
.add_adr .col-md-6 {
    padding: 0px !important;
}
.speedbuy { margin: 0 auto; margin-top:70px; text-align: center; display: none; }

#volwrapper { display: none !important;}
    .pln_cn .month {     font-size: 12px; margin-top:0px;}
    .pln_blk1 .pln_cn { padding: 5px !important;}
    .pln_cn .price_number { font-size: 14px !important;}
    .pln_cn .month { margin-top: 0px !important;     font-size: 12px !important;}
    .pagedetails section { padding: 30px 10px;}
.pagedetails { padding: 0px;}
.headtext {     font-size: 12px;}
.pagedetails section p { font-size: 12px;}
.returnlast { font-size: 12px;}
.ordd_qty {     margin-top: -65px; float:right !important; margin-right:0px;}
.ordd_inv { width:100%; margin-left:0px;}
.ordd_inv p { text-align:left;}
.trk { margin-top:-30px;}
.od_pze { margin-top:0px;}
.ord_dtl { width:100%;}
.dtsa { width:100%;}
.dtrgt {     margin-top: -90px;}
.dt_tlp {     margin-top: 30px;}
 .idnc {   max-width: 101vw;}
}


@media (min-width:667px) and (max-width:767px) {
.mob-dashboard { margin-top: 60px; }
.headings {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 3px;
    color: #fff;
}
.mhomeLogo { width: 84px; height: auto; }
footer .foot-wrap .linksdiv a {    padding: 6px;}
.socialicn {     margin: 5px;  background-size: 20px !important;     width: 20px;
    height: 20px; }
.mobthumbs { padding: 0px; }
#videoLoad { left: 39%; }
/*.slider .slick-prev, .slider .slick-next { width: 40px !important; height: 30px !important;  background-size: 25% !important; }
.slider .slick-prev {     background-size: 62% !important; }*/
.speedbuy {  top: -1vw !important; display: block !important; }
.snb {         left: 24vw !important; }
.clss { margin-left: 38%;     margin-top: 15px !important;}
.shopnowhome {     margin-top: 23px !important;
    margin-left: 15%; }
.dropdown-menu {     left: -62px; }
.snb {     top: 9vw !important; }
.prd_des { border: none; }
.a0-zocial {
    width: 25% !important;
    min-height: 186px;
    margin: 20px 4% !important;
}
.a0-separator { top: 71% !important;     margin-bottom: 20px;}
}


@media (min-width:568px) and (max-width:667px) {
.mob-dashboard { margin-top: 60px; }
.headings {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 3px;
    color: #fff;
}
.mhomeLogo { width: 84px; height: auto; }
footer .foot-wrap .linksdiv a {    padding: 6px;}
.socialicn {     margin: 5px;  background-size: 20px !important;     width: 20px;
    height: 20px; }
.mobthumbs { padding: 0px; }
#videoLoad { left: 39%; }
/*.slider .slick-prev, .slider .slick-next {    background-size: 25% !important; }
.slider .slick-prev {     background-size: 62% !important; }*/
.speedbuy {  top: 0vw !important; display: block !important; }
.snb {         left: 21vw !important; }
.clss { margin-left: 38%;     margin-top: 15px !important;}
.shopnowhome {     margin-top: 23px !important;
    margin-left: 15%; }
.dropdown-menu {     left: -62px; }
.snb {     top: 12vw !important; }
.prd_des { border: none; }
.a0-zocial {
    width: 25% !important;
    min-height: 160px;
    margin: 20px 4% !important;
}
.a0-separator { top: 71% !important;     margin-bottom: 20px;}
}


@media (min-width:320px) and (max-width:375px){
	.navbar-brand {     margin-left: 24% !important;}
	.a0-separator { left: 46% !important;         top:57% !important; font-size: 18px !important;}
	.a0-action {     right: 39% !important;}
	.a0-zocial {        width: 25% !important;  height: 85px !important; margin: 10px 4% !important;}
   
 
	}

@media (min-width:376px) and (max-width:479px){
	.a0-zocial {
    width: 25% !important;
    min-height: 70px;
    margin: 20px 4% !important;
}}
@media (min-width:375px) and (max-width:479px){
.mob-dashboard { margin-top: 60px; }
.headings {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 3px;
    color: #fff;
}
.mhomeLogo { width: 84px; height: auto; }
footer .foot-wrap .linksdiv a {    padding: 6px;}
.socialicn {     margin: 5px;  background-size: 20px !important;     width: 20px;
    height: 20px; }
.mobthumbs { padding: 0px; }
#videoLoad { left: 39%; }
.slider .slick-prev, .slider .slick-next { width: 32px !important; height: 36px !important;   background-size: 25% !important; }
.slider .slick-prev {     background-size: 62% !important; }
.speedbuy {  top: 15vw !important; }
.snb {         left: 2vw !important; }
.clss { margin-left: 38%;     margin-top: 15px !important;}
.shopnowhome {     margin-top: 23px !important;
    margin-left: 15%; }
.dropdown-menu {     left: -62px; }
.snb {     top: 20vw !important; }

.infinite-scroll { padding-bottom: 0px; }
.pnl_rgt { display: none; }
.sip_nav ul li a { font-size: 12px;
    margin-right: 15px; }
.sip_nav ul li { margin: 0 10px 0 0px; }
.lg_frm { width: 100%; }
.add_adr { width: 100%; }
.lg_frm label { width: 89%;     padding-left: 0px;
    margin-bottom: 0px; }
.add_adr .col-md-6 { width: 100%; }
.idnc .cn_btn1 {     float: left;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px; } 
.prd_wrp {
width:351px;
}
.alnright {
    text-align: left;
}
.prd_des {  min-height: 100%; }
.prd_logo {
margin:17px 0 0 20px;
}
.logout { margin-right: 20px;}

.prd_login input {
font-size:12px;
width:auto!important;
padding:5px 13px;
}

.prd_login {
margin:27px 0 0;
}

.ord_wrp {
width:95%;
}

.ord_det .ps3 {
font-weight:400;
}

.ord_det .ord_rgt h3 {
margin-bottom:10px;
}

.ord_det .lft_row {
width:70%;
}

.ord_det .rgt_row {
width:30%;
}

.ord_det .ord_rgt .ord_row {
font-size:13px;
padding:7px 10px;
}

.ord_adrs .odr_ldr {
width:100%;
margin-bottom:15px;
}
.closebt { display: none; }
.prd_des {
float:right;
width:90%;
margin-top:20px;
margin-right:5%;
border: none;
    padding-top: 15px;
}
.prz { width: 140px; }
.prz_txt { width: 132px; }

.prd_viw {
width:230px;
margin-left:30px;
}
.prd_tmb { width: 44px; margin-left: 22px;}
.prd_cnt {
min-height:542px;
}
.prd_lft { width: 100%; }
.prd_sip .row {
margin:0;
}

.sip_tit {
margin-top:5px;
}

.odr_sum {
display:none;
}

.add_adr .cp {
width:100%!important;
}

.evt_img {
width:100%;
margin-top:41px;
margin-left:0;
}

.evt_cn {
width:100%;
float:left;
margin-right:0;
margin-top:13%;
}

.evt_blk {
width:300px;
margin-bottom:30px;
}

.evt_join {
font-size:28px;
margin-top:0;
}

.add_adr select {
margin-bottom:20px;
}

.prd_acc {
width:355px;
}

.prd_acc .col-md-10 {
width:70%;
float:left;
}

.prd_acc .col-md-2 {
width:30%;
float:left;
}

.prt_hed {
padding:15px 10px;
}

.prt_txt {
width:175px;
padding:10px 18px;
}

.prk_txt2 {
margin-right:0;
}

.prt_txt h4 span {
font-size:14px;
}

.prd_pdt,.ord_det .ord_lft img,.ord_det .ord_lft,.ord_det .ord_rgt,.ord_adrs .odr_rdr {
width:100%;
}

.ord_num .ps,.ord_num .ps2 {
font-size:12px;
}

.ord_adrs p,.prt_txt h4 {
font-size:13px;
}

.ord_adrs h3,.prt_h2 {
font-size:14px;
}
.backto {
    color: #fff;
    text-align: center;
}
.cp { width: 100% !important;}
.backto {
    color: #fff;
    text-align: center;
    background-color: #bf0000;
    padding: 15px 67px;
    width: 100%;
    margin: 10px 0 30px 0 !important;
    border-radius: 3px;
    float: right;
}
.changesel { background-color: transparent; padding: 0px;}
.prt_txt h4 { font-size: 13px;}
.add_adr .col-md-6 {
    padding: 0px !important;
}
.shopnowhome { left: 14%; margin-top: 80px;}

#volwrapper { display: none !important;}
    .pln_cn .month {     font-size: 12px; margin-top:0px;}
    .pln_blk1 .pln_cn { padding: 5px !important;}
    .pln_cn .price_number { font-size: 14px !important;}
    .pln_cn .month { margin-top: 0px !important;     font-size: 12px !important;}
    .pagedetails section { padding: 30px 10px;}
.pagedetails { padding: 0px;}
.headtext {     font-size: 12px;}
.pagedetails section p { font-size: 12px;}
.returnlast { font-size: 12px;}
.sip_lft h4 { margin-bottom:10px; }
.sip_blk .col-md-6 { margin-bottom:10px; padding:0px;}
.ord_cnt { margin-top:0px;}
.ordd_qty {     margin-top: -75px; float:right !important; margin-right:0px;}
.ordd_inv { width:100%; margin-left:0px;}
.ordd_inv p { text-align:left; font-size:12px;}
.trk p { font-size:12px;}
.trk { margin-top:-30px;}
.od_pze { margin-top:0px;}
.ord_dtl { width:100%;}
.dtsa { width:100%;}
.dtrgt {     margin-top: 0px; width:100%;}
.dt_tlp {     margin-top: 17px; font-size:15px;}
.ordd_prd h4 { font-size:14px; margin-top:8px;}
.dtimg {     width: 85px;}
.dttit { font-size: 13px !important;}
.dtsts { float:left; margin-top:10px;}
.dt_tlp h4 {  text-align:right;}
}

@media (min-width:360px) and (max-width:374px) {
mob-dashboard { margin-top: 60px; }
.headings {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 3px;
    color: #fff;
}
.mhomeLogo { width: 84px; height: auto; }
footer .foot-wrap .linksdiv a {    padding: 6px;}
.socialicn {     margin: 5px;  background-size: 20px !important;     width: 20px;
    height: 20px; }
.mobthumbs { padding: 0px; }
#videoLoad { left: 39%; }
/*.slider .slick-prev, .slider .slick-next { width: 40px !important; height: 30px !important;   background-size: 25% !important; }
.slider .slick-prev {     background-size: 62% !important; }*/
.speedbuy {  top: 21vw !important; width: 243px !important; }
.snb {         left: 2vw !important; }
.clss { margin-left: 38%;     margin-top: 15px !important;}
.shopnowhome {     margin-top: 23px !important;
    margin-left: 15%; }
.dropdown-menu {     left: -62px; }
.snb {     top: 20vw !important; }
    .pnl_rgt { display: none; }
.sip_nav ul li a { font-size: 12px;
    margin-right: 15px; }
.sip_nav ul li { margin: 0 10px 0 0px; }
.lg_frm { width: 100%; }
.add_adr { width: 100%; }
.lg_frm label { width: 89%;     padding-left: 0px;
    margin-bottom: 0px; }
.add_adr .col-md-6 { width: 100%; }
.idnc .cn_btn1 {     float: left;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px; } 
.prd_wrp {
width:335px;
}
.prd_lft { width: 100%; }
.alnright {
    text-align: left;
}
.prd_des {  min-height: 100%; }
.prd_logo {
margin:17px 0 0 20px;
}

.prd_login input {
font-size:12px;
width:auto!important;
padding:5px 13px;
}

.prd_login {
margin:27px 0 0;
}

.ord_wrp {
width:95%;
}

.ord_det .ps3 {
font-weight:400;
}

.ord_det .ord_rgt h3 {
margin-bottom:10px;
}

.ord_det .lft_row {
width:70%;
}

.ord_det .rgt_row {
width:30%;
}

.ord_det .ord_rgt .ord_row {
font-size:13px;
padding:7px 10px;
}

.ord_adrs .odr_ldr {
width:100%;
margin-bottom:15px;
}

.ord_ftr p {
line-height:18px;
}

.prd_viw {
    width: 239px;
margin-left:20px;
}
.prd_tmb {
    width: 50px;
        margin-left: 20px;
}
.closebt {display: none;}
.prd_cnt {
min-height:542px;
}
.cn_btnproduct{     background-position: 98% 50%; }
.prd_des {
width:90%;
margin-top:30px;
margin-right:5%;
    padding-top: 0px;
}
.prz {     width: 132px; }

.prd_des h2 {
font-size:18px;
margin:0 0 10px;
}

.prd_sip .row {
margin:0;
}

.sip_tit {
margin-top:5px;
}

.odr_sum {
display:none;
}

.add_adr .cp {
width:100%!important;
}

.evt_img {
width:100%;
margin-top:41px;
margin-left:0;
}

.evt_cn {
width:100%;
float:left;
margin-right:0;
margin-top:13%;
}

.evt_blk {
width:300px;
margin-bottom:30px;
}

.evt_join {
font-size:28px;
margin-top:0;
}

.add_adr select {
margin-bottom:20px;
}

.prd_acc {
width:330px;
}

.prd_acc .col-md-10 {
width:70%;
float:left;
}

.prd_acc .col-md-2 {
width:30%;
float:left;
}

.prt_hed {
padding:15px 10px;
}

.prt_txt {
width:175px;
padding:10px 18px;
    margin-bottom: 2px;
}

.prk_txt2 {
margin-right:0;
}



.prd_pdt,.ord_det .ord_lft img,.ord_det .ord_lft,.ord_det .ord_rgt,.ord_adrs .odr_rdr {
width:100%;
}

.ord_num .ps,.ord_num .ps2,.prt_h4 {
font-size:12px;
}

.ord_adrs p,.prt_txt h4 {
font-size:13px;
}

.ord_adrs h3,.prt_h2 {
font-size:14px;
}
.cp { width: 100% !important;}
.backto {
    color: #fff;
    text-align: center;
    background-color: #bf0000;
    padding: 15px 67px;
    width: 100%;
    margin: 10px 0 30px 0 !important;
    border-radius: 3px;
    float: right;
}
.changesel {  background-color: transparent;
    padding: 0;}
    .add_adr .col-md-6 {
    padding: 0px !important;
}
.logout { margin-right: 20px; }

#volwrapper { display: none !important;}
.pagedetails section { padding: 30px 10px;}
.pagedetails { padding: 0px;}
.headtext {     font-size: 12px;}
.pagedetails section p { font-size: 12px;}
.returnlast { font-size: 12px;}
.ordd_qty {         margin-top: -30px;
    float: left !important;
    margin-right: 0px;
    margin-left: 81px;}
.ordd_inv { width:100%; margin-left:0px;}
.ordd_inv p { text-align:left; font-size:12px;}
.trk p { font-size:12px;}
.trk { margin-top:-30px;}
.od_pze { margin-top:0px;}
.ord_dtl { width:100%;}
.dtsa { width:100%;}
.dtrgt {     margin-top: 0px; width:100%;}
.dt_tlp {     margin-top: 17px; font-size:15px; }
.ordd_prd h4 { font-size:14px; margin-top:8px;}
.dtimg {     width: 85px;}
.dttit { font-size: 13px !important; line-height:16px;}
.dtsts { float:left; margin-top:10px;     width: 115px; font-size:12px;}
.dt_tlp h4 {text-align:right;}
.ordd_dt { font-size:12px;}
.od_pze p strong { font-size:16px;}
.ord_inf { padding:15px;
}
.ord_dtl p { font-size:13px; margin-bottom:3px;}
.dtpr { font-size:16px;}
.dtsa h4 { font-size:14px; font-weight:bold; margin-bottom:5px; margin-top:5px;}
.dtsa p {  line-height: 15px; font-size:12px;}
.dtprd { padding:15px;}
.dtlft { width:280px;}
.dt_tlp h4 .dt_prc { font-size:15px;}
}

@media (min-width:320px) and (max-width:359px){
mob-dashboard { margin-top: 60px; }
.headings {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 3px;
    color: #fff;
}
.mhomeLogo { width: 84px; height: auto; }
footer .foot-wrap .linksdiv a {    padding: 6px;}
.socialicn {     margin: 5px;  background-size: 20px !important;     width: 20px;
    height: 20px; }
.mobthumbs { padding: 0px; }
#videoLoad { left: 39%; }
.slider .slick-prev, .slider .slick-next {  background-size: 25% !important; }
.slider .slick-prev {     background-size: 62% !important; }
.speedbuy {  top: 33vw !important; width: 243px; right: 9vw !important; }
.snb {         left: 3vw !important; }
.clss { margin-left: 35%;     margin-top:10px !important;}
.shopnowhome {     margin-top: 10px !important;
    margin-left: 10%; }
.dropdown-menu {     left: -62px; }
.snb {     top: 20vw !important; }
.clsprod { margin-left: 110px; }
.sip_lft {     width: 276px !important; }

    .pnl_rgt { display: none; }
.sip_nav ul li a { font-size: 12px;
    margin-right: 15px; }
.sip_nav ul li { margin: 0 10px 0 0px; }
.lg_frm { width: 100%; }
.add_adr { width: 100%; }
.lg_frm label { width: 89%;     padding-left: 0px;
    margin-bottom: 0px; }
.add_adr .col-md-6 { width: 100%; }
.idnc .cn_btn1 {     float: left;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px; } 
.prd_wrp {
width:297px;
}
.alnright {
    text-align: left;
}

.prd_logo {
margin:17px 0 0 20px;
}
.prd_des {  min-height: 100%; }
.prd_login input {
font-size:12px;
width:auto!important;
border:none;
padding:5px 10px;
}

.prd_login {
margin:27px 0 0;
}

.ord_wrp {
width:95%;
}

.ord_det .ps3 {
font-weight:400;
}

.ord_det .ord_rgt h3 {
margin-bottom:10px;
}

.ord_det .lft_row {
width:70%;
}

.ord_det .rgt_row {
width:30%;
}

.ord_det .ord_rgt .ord_row {
font-size:13px;
padding:7px 10px;
}

.ord_adrs .odr_ldr {
width:100%;
margin-bottom:15px;
}

.ord_adrs h3 {
font-size:14px;
}

.ord_ftr p {
line-height:18px;
}

.prd_viw {
width:216px;
margin-left:20px;
}

.prd_cnt {
min-height:542px;
    display: inline-block;
}
.evt_blk input, .evt_blk select { padding: 9px 10px;}
.evt_blk h2 span { font-size: 21px;}
.prd_tmb {
width:45px;
margin-left: 15px;
}
.prz { width: 105px; }
.prz_txt {     width: 118px;     padding: 7px 8px 7px 8px; }
.cn_btnproduct { background-position: 100% 50%; }
.prd_des {
width:90%;
margin-top:10px;
margin-right:5%;
border: none;
    padding-top: 20px;
}
.prd_lft p {     margin-top: 25px; }
.prd_des h2 {
font-size:18px;
margin:0 0 10px;
}

.prd_sip .row {
margin:0;
}

.sip_tit {
margin-top:5px;
}

.odr_sum {
display:none;
}

.add_adr .cp {
width:100%!important;
}

.sip_nav ul li a {
font-size:11px;
}

.evt_img {
width:100%;
margin-top:41px;
margin-left:0;
}

.evt_cn {
width:100%;
float:left;
margin-right:0;
margin-top:13%;
}

.evt_blk {
width:280px;
margin-bottom:30px;
}

.evt_join {
font-size:28px;
margin-top:0;
}

.add_adr select {
margin-bottom:20px;
}

.prd_acc {
width:300px;
}

.prd_acc .col-md-10 {
width:80%;
float:left;
}

.prd_acc .col-md-2 {
width:20%;
float:left;
}

.prt_hed {
padding:15px 10px;
}


.prt_txt {
width:150px;
padding:10px 8px;
margin-bottom: 2px;
}

.prk_txt2 {
margin-right:0;
}

.prt_txt h4 span {
font-size:13px;
}

.prd_pdt,.ord_det .ord_lft img,.ord_det .ord_lft,.ord_det .ord_rgt,.ord_adrs .odr_rdr {
width:100%;
}

.ord_num .ps,.ord_num .ps2,.prt_h2 {
font-size:12px;
}

.ord_adrs p,.prt_txt h4 {
font-size:13px;
}
#payment-form .lis { width: 145px !important;}
#paymentButton { width: 100% !important;}
.sip_lft .backto { padding: 14px 45px !important; margin: 10px 0 0 0; background-color: #ff0000; color: #fff !important;
    font-size: 16px; width: 100% !important;}
    .add_adr .col-md-6 {
    padding: 0px !important;
}
.changesel { padding: 0 !important; background-color: transparent;}
.logout { margin-right: 20px;}


#volwrapper { display: none !important;}
.pagedetails section { padding: 30px 10px;}
.pagedetails { padding: 0px;}
.headtext {     font-size: 12px;}
.pagedetails section p { font-size: 12px;}
.returnlast { font-size: 12px;}
.prd_lft { width: 100%; }
.closebt { display: none; }
.ord_num .ps {     margin-bottom: 5px;}
.ord_num .ps2 {     margin-bottom: 10px; float:left; margin-top:0px;}
.ord_adrs h4 { font-size:14px;}
.dtsa { width:100%;}
.dtrgt {     margin-top: 0px; width:100%;}
.dt_tlp {     margin-top: 17px; font-size:15px; }
.ordd_prd h4 { font-size:14px; margin-top:8px;}
.dtimg {     width: 85px;}
.dttit { font-size: 11px !important; line-height:16px;}
.dtsts { float:left; margin-top:10px;     width: 170px; font-size:12px;}
.dt_tlp h4 { text-align:right;}
.ordd_dt { font-size:12px;}
.od_pze p strong { font-size:16px;}
.ord_inf { padding:10px;
}
.ord_dtl p { font-size:13px; margin-bottom:3px;}
.dtpr { font-size:16px;}
.dtsa h4 { font-size:14px; font-weight:bold; margin-bottom:5px; margin-top:5px;}
.dtsa p {  line-height: 15px; font-size:12px;}
.dtprd { padding:15px;}
.dtlft { width:280px;}
.dt_tlp h4 .dt_prc { font-size:15px;}
.ordd { padding:7px;}
.ordd_inv { width:260px; margin-left:0px;}
.ordd_qty { margin-left: 82px;
   margin-top: -48px; text-align:left !important;}
.od_pze { margin-top:5px; margin-bottom:5px;}
.trk { margin-top:-2px; width:100%;}
.ordd_inv p { text-align:left; font-size:12px;     display: inline-block;}
.ord_dtl { width:270px;}
.odr_det {     margin-top: 8px;
    margin-left: 4px;}
#search_val {     width: 187px !important;}
.ord_inf {     display: inline-block;}
}
@media (min-width:600px) and (max-width:700px){
#sbprice { display: none;}
.prohide { display: none;}
.prohide { display: none;}

}

@media (min-width:800px) and (max-width:870px){
#sbprice { display: none;}
.prohide { display: none;}
.prohide { display: none;}
.speedbuy { margin-top: 35px; padding: 10px 10px !important;  display: block;   margin: 0 auto; margin-top: 32px; text-align: center;}

}

@media (min-width:550px) and (max-width:600px){
#sbprice { display: none;}
.prohide { display: none;}
.prohide { display: none;}

#sbdesc { height: auto;}
.logo { clear: none;}
.shopnowhome { right: 30;}
}


#myid li{
    float: left;
    padding: 10px 20px;
    margin-right: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
}

#myid li:hover{ 
    background: #ddd;

}
.shop_active {
    background: #ddd;
}

.loaderbg {
    background: #ddd;
    background-image: url(../../../images/logo_preloader.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
}

.lg_frm label {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
}

.npop { }
.npop .modal-header { background-color:#f5f5f5; border:none;     height: auto;
    overflow: hidden;}
.npop .modal-title { font-size:20px;     text-transform: uppercase; line-height: 30px;}

.npop .modal-footer { padding-top:0px; border:none;}
.npop .modal-body { padding-bottom:0px;}
.npop h2 { margin-left:1%;  font-size: 20px;}
.npop .form-control { padding: 8px 15px !important;  border: solid 1px #cacaca;}
.npop .btnreal { 
    color: #fff !important;
    padding: 10px 25px !important;
    font-size: 15px;
    background-color: #ed1c24;
    border: none !important;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 93% 50%;
    background-size: 7px;
 margin-left:2%;
 margin-top: 10px;
}
.mac { width:1124px;}

.viw { width:18px; height:18px; float:left; margin-left:15px; background-image:url(../../../images/icons.png); background-repeat:no-repeat; background-position:0 0; cursor:pointer;
    font-size: 0;
}
.viw:hover { opacity:0.75;}
.edt { width:17px; height:16px; 
font-size: 0;
    margin-top:2px; float:left; margin-left:15px; background-image:url(../../../images/icons.png); background-repeat:no-repeat; background-position:-29px -1px; cursor:pointer;}
.edt:hover { opacity:0.75;}
.rmv { width:14px; height:18px; 
font-size: 0;
    float:left; margin-left:15px; background-image:url(../../../images/icons.png); background-repeat:no-repeat; background-position:-58px 0; cursor:pointer;}

.rmv:hover { opacity:0.75;}
.pagination {}
.pagination .pg_btn {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #d49b58;
    background-color: #fff;
    border: 1px solid #dce0e0;
    font-size:12px;
    margin-left: -1px;
    border-radius: 2px;
    cursor: pointer;
    }
.pagination .pg_btn:hover { border: 1px solid #d49b58;}
.pagination .pg_nb{position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #d49b58;
    background-color: #fff;
    border: 1px solid #dce0e0;
    margin-left: -1px;
    font-size:12px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 10px;
    }
.pagination .pg_nb:hover { border: 1px solid #d49b58;}
.pagination .pg_act {     z-index: 3;
    color: #fff;
    background-color: #d49b58;
    border-color: #c28844;
    cursor: default;}
    .srh { float:right;}
.srh input { width:200px; float:left;  border-radius:1px; padding:7px 10px; }


.rst {  background-color:#ececec; width:60px !important; margin-left:10px;  color:#d99d5c;}


.add_adr .form-control {
    border-radius: 0px !important;
    height: auto;
}

.speedbuy {
    width: 260px;
    border-radius: 10px;
    padding: 20px 20px;
    background-color: #FFF;
    position: absolute;
    top: 6vw;
    right: 4vw;
    z-index: 10;
}


.lslidee {
    cursor: pointer;
}
.sliderfor {
    color: #333;
}
.sliderfor h2 {
    margin: 0 0 0 0;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}
.sliderfor ul {
    margin: 0;
}
.sliderfor ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.sliderfor h4 {
    margin: 5px 0 0 0;
    color: #000;
    font-weight: normal;
    line-height: 15px;
    font-size: 12px;
}

.sliderfor .logo {
    width: 100%;
    height: 80px;
    clear: both;
    float: none;
    margin: 0;s
}
.clickbuy {
    background-color: #ec1e2a;
    border-radius: 3px;
    color: #FFF;
    text-align: center;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    margin-top: 10px;
    font-weight: 500;
    border: #F44855 solid 1px;
    padding: 8px 10px;
}




#sbdesc {
    display: block;
    width: 100%;
}
.clrred {
    color: #ec1e2a;
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.padright40 {
    padding-right: 40px;
}
.padleft40 {
    padding-left: 40px;
}


.buttonstyle {
    padding: 5px;
}

.borderrad {
    width: auto;
}

.pagination .pg_btn {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #d49b58;
    background-color: #fff;
    border: 1px solid #dce0e0;
    font-size:12px;
    margin-left: -1px;
    border-radius: 2px;
    cursor: pointer;
    }
.pagination .pg_btn:hover { border: 1px solid #d49b58;}
.pagination .pg_nb{position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #d49b58;
    background-color: #fff;
    border: 1px solid #dce0e0;
    margin-left: -1px;
    font-size:12px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 10px;
    }
.pagination .pg_nb:hover { border: 1px solid #d49b58;}
.pagination .pg_act {     z-index: 3;
    color: #fff;
    background-color: #d49b58;
    border-color: #c28844;
    cursor: default;}
    .srh { float:right;}
.srh input { width:200px; float:left;  border-radius:1px; padding:7px 10px;background-color: #2d2d2d; }
.srh_btn { background-color: transparent; background-image:url(../images/srh.png);     background-position: 50% 50%; background-color:#3a3a3a; background-size:75%; background-repeat:no-repeat; width:40px !important; border-radius:1px; margin-left:-1px;}

.srh2_btn { background-color: transparent; background-image:url(../images/srh.png);     background-position: 50% 50%; background-color:#3a3a3a; background-size:75%; background-repeat:no-repeat; width:40px !important; border-radius:1px; margin-left:-1px;}

.rst {     background-image: url(../images/reset.png);
    background-position: 50% 50%;
    background-color: #3a3a3a;
    background-size: 50%;
    background-repeat: no-repeat;
    width: 40px !important;
}


.srh2 { float:left;}
.srh2 select { width:200px; float:left;  border-radius:1px; padding:9px 10px; }


.storelogo{
    height: 50px;
    margin: 5px 0 0 30px;
    position:absolute;
    left: 2vw;
    top: 0;
    z-index: 99;
}
.storeAccount{
    position:absolute;
    right: 4vw;
    top: 0;
    z-index: 99;
}



#a0-lock .a0-overlay.a0-active{
    overflow-y: scroll !important;
    display: block;
}
.a0-lock-open{
    overflow: hidden !important;
}
#a0-lock .a0-overlay.a0-active .a0-centrix{
    display: block;
}

#a0-lock.a0-theme-default .a0-panel .a0-action button:after
{
position: inherit;
margin-left: 50%
}
#a0-lock.a0-theme-default .a0-panel button.a0-primary{
    position: inherit;
}

#a0-lock.a0-theme-default .a0-panel .a0-mode form .a0-body-content {     padding: 15px !important;}
.a0-separator { position: absolute; left: 73%;  top: 30px; font-size: 18px !important; text-transform: uppercase !important;}
.a0-mode-container { position:relative;}
#a0-lock.a0-theme-default .a0-zocial:before { display:none;}
#a0-lock.a0-theme-default .a0-zocial span, #a0-lock.a0-theme-default a.a0-zocial span { display:none;}
#a0-lock.a0-theme-default .a0-panel { width:100%;}
#a0-onestep .a0-header { background-color:transparent !important; background:none !important;}
/*.a0-db-actions { display:none;}*/
.a0-collapse-social { float:left; width:50%; border-right:solid 1px #525252; padding:2% 9%;}
.a0-collapse-social-signup { float:left; width:50%; border-right:solid 1px #525252; padding:2% 9%;}
.a0-emailPassword { float:right; width:43%;     margin-right: 2%; padding:5% 5% 0 5%;}
.a0-sign-up { font-size:0px !important;}
#a0-lock.a0-theme-default .a0-switch { width:100px !important; margin:0 auto; border:none; height: 30px; margin-bottom: 15px;}
#a0-lock.a0-theme-default .a0-switch .a0-active { width:0px !important; font-size:0px; }
#a0-lock.a0-theme-default .a0-sign-up span { background-image:url(../images/auth/sign_up_txt.png); background-repeat:no-repeat; width:100%; background-size: 100%; font-size:0px;height:16px;}
#a0-lock .a0-centered span { width:100% !important; }
.a0-instructions { display:none;}
.bottom-content { float: left; width: 100%; position: relative;}
.a0-zocial { float:left;     width: 23%; height: 120px;  margin: 20px 5%; background-size:100%; background-color:transparent !important;background-repeat: no-repeat;}
.a0-amazon { background-image:url("../images/auth/amazon_ico.png");}
.a0-facebook { background-image:url("../images/auth/facebook_ico.png");}
.a0-googleplus { background-image:url("../images/auth/google_ico.png");}
.a0-soundcloud { background-image:url("../images/auth/cloud.png");}
.a0-twitter { background-image:url("../images/auth/twitter_ico.png");}
.a0-yahoo { background-image:url("../images/auth/yahoo_ico.png");}
.a0-forgot-pass { margin-top:15px !important; color:#676462 !important;}
.a0-action {  height: 70px; 
    width: 78px !important;
     position: absolute;
      right: 22%;
     top: -125px;
  }
#a0-lock.a0-theme-default .a0-panel .a0-action button:after { height:45px !important; margin-left:0px !important; background-image:url("../images/auth/lg_bg.png") !important; background-size:100%; background-repeat:no-repeat;}
#a0-lock.a0-theme-default .a0-panel .a0-action button { background-color:transparent !important;}
#a0-lock.a0-theme-default .a0-panel .a0-action button:hover { background-color:transparent !important;}
#a0-lock.a0-theme-default .a0-popup .a0-centrix .a0-panel { background-color: transparent !important; }

#a0-lock.a0-theme-default .a0-overlay.a0-active {
   background-image: url("../images/auth/main_bg.png");
}
#a0-lock.a0-theme-default .a0-overlay.a0-active .a0-panel {
    box-shadow: none !important;
}

@media (min-width: 320px) and (min-height: 768px){
/*.a0-collapse-social { width:100% !important;}
.a0-emailPassword { width:100% !important;}*/
}

.handsymbol {
    cursor: pointer;
     height: auto;
}
.handsymbol img{
     height: 300px;
    }
.et_blk  { width:350px; margin:0 auto ; height:auto !important; margin-bottom:20px; background-color:#1d1d1d; padding-top:15px; padding-bottom:15px; border-bottom: solid 5px #272727;}
.et_blk .slick-slider { }
.et_blk img { height:auto !important;}
.et_blk h4 { font-size:14px;}
.et_blk h4 span {  font-family: 'opensans'; font-size:14px;}
.et_blk h5 {  font-family: 'opensans';}
.ev_cn { width:94%; margin:0 auto;}

.bggreen {
    background: #5cb85c !important;
}

.videoback {
    background: rgba(255,255,255,0.5);
    padding: 5px 20px;
    font-weight: bold;
    color: #fff;
    width: auto;
    right: 5vw;
    font-size: 15px !important;
    cursor: pointer;
    position: absolute;
    border-radius: 20px;
}
.videoback:hover {
    color: #fff;
}
